<nav class="navbar navbar-expand-lg bg-navbar" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Pizza Planet</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          
          <li class="nav-item">
            <a class="nav-link" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="cart">Shopping Cart</a>
        </li>
        </ul>
      </div>
    </div>
  </nav>
