<div class="container">
    <div class="row">
        <div class="col-12 py-5">
            <h3>Pizza</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let pizza of pizzaMenu">
        <div class="card h-100">
            <img [src]="pizza.imgUrl" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{pizza.name}}</h5>
                <p class="card-text">{{pizza.discreption}}</p>
                <h5 class="card-title text-right">{{pizza.price | currency}}</h5>
                <a (click)="addPizzaToShoppigCart(pizza)" class="btn btn-secondary">Add To Cart</a>
            </div>
        </div>
    </div>

</div>