<div class="container" *ngIf="cartItems.length > 0" id="shopping-cart">
    <div class="row">
        <div class="col-12">
            <h1>Shopping Cart</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table>
                <tr *ngFor="let item of cartItems">
                    <td><img [src]="item.pizza.imgUrl" srcset="" alt=""></td>
                    <td>{{item.pizza.name}} x{{item.quantity}}</td>
                    <td>{{item.calcPrice() | currency}}</td>
                </tr>
                <tr>
                    <td>Total cost: {{getTotalPrice() | currency}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
