<section>
    <div class="bg-image" style="background-image: url('https://irp-cdn.multiscreensite.com/c0c234f9/dms3rep/multi/pizzeria-da-boris-genova-marassi-052.jpg');
            height: 100vh">

        <div class="hero-text">
            <h3>WELCOME TO</h3>
            <h1>Pizza Planet</h1>
            <p>We serve the best pizza in town</p>
            <button >Order Now</button>
        </div>
    </div>
</section>
