.bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.hero-text h3{
    letter-spacing: 5px;
    font-weight: 200;
    font-family: 'Courier New', Courier, monospace;
}

.hero-text h1{
    font-size:50px;
  font-family: 'Courier New', Courier, monospace;
    letter-spacing: .5rem;
    font-weight: 300;
}
.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: white;
    background-color: red;
    text-align: center;
    cursor: pointer;
    border-radius: 1.5rem;
    margin-top: 25px;
    box-shadow: 0 0 5px 1px rgb(247, 2, 2);
}

.hero-text button:hover {
    background-color: #f6eded;
    color: rgb(252, 4, 4);
}
.bg-image img{
    height: 80vh;
}